body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12;
    line-height: 1.6;
    color: rgba(0, 0, 0, 0.84);
}

h1 {
    font-size: 3rem;    
}

h2 {
    font-size: 2rem;
    margin-top: 4rem;
}

.wrapper {
    width: 1024px;
    margin: 0 auto;
    padding: 16px;   
}

li {
    list-style-type: none;    
}

.contact li {
    line-height: 1.8;
}

.section-cart {
    padding-top: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    align-content: center;
}

.grid-item {
    justify-items: center;
    align-self: center;
}

.section-cart figure {
    margin: auto;
}

.section-cart-photo img {
    border-radius: 50%;
}

.section-summary{
    margin-top: 82px;
    font-size: 1.2rem;
    background: rgb(206, 206, 206);
    border-radius: 16px;
}

.section-summary p {
    padding: 32px;
}

pre {
    width: 600px;
    font-size: 0.8rem;
    line-height: 0.8rem;
    padding: 16px;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.05)
}
